<%=render 'shared/page_title', title: "All Recipes"%>


<%@recipes.each do |recipe| %>
  <div class="row">
     <div class="col-md-2">
       <section class="chef_info_center">
       <!-- this method is in application_helper.rb -->
        <%=link_to (gravatar_for recipe.chef, size: 100), chef_path(recipe.chef)%>
        <h5>Chef Name: <%=recipe.chef.chefname%></h5>
       </section>
     </div>  

      <div class="col-lg-10 well">
         <div class = "col-md-4 pull-right">
            <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
         </div>

         <h4><%=link_to recipe.name, recipe_path(recipe)%></h4>
         <p><%=recipe.summary%></p>
         <p><span class='quiet'><small> created: <%=time_ago_in_words(recipe.created_at)%> ago </small></span></p>
         <p><span class='quiet'><small>last updated: <%=time_ago_in_words(recipe.updated_at)%> ago</small></span></p>
            
            <div class="pull-left">
                  <%=link_to like_recipe_path(recipe, like: true), method: :post do%>
                    <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp<%=recipe.thumbs_up_total%>
                  <%end%> &nbsp&nbsp&nbsp&nbsp 
                  <%=link_to like_recipe_path(recipe, like: false), method: :post do%>
                    <i class="glyphicon glyphicon-thumbs-down"></i>
                    &nbsp<%=recipe.thumbs_down_total%>
                  <%end%>
            </div>
      </div>
      <!-- Thumbs Up and Thumbs Down -->
    
   </div>
   <hr/>
<%end%>

<%=will_paginate%>